/* Master CSS applied for pages (please include to all except line between title)*/

html {
    font-size: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

p {
    font-weight: 300;
    font-size: 18px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    margin: 0px;
    padding: 0px;
    /*Fade in on page load*/
    animation: fadeInAnimation ease 0.5s
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*Animation to enlarge search box when clicked in*/

#textbox {
    width: 100px;
    transition: 0.3s;
}

#textbox:focus {
    width: 200px;
    transition: 0.3s;
}


/*End of Animation*/


/*Back to Top button*/

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 30px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 20px;
    /* Rounded corners */
    font-size: 12px;
    /* Increase font size */
}

#myBtn:hover {
    color: #555;
    /* Add a dark-grey background on hover */
}


/*End of Back to Top button*/


/* Add line between title like this: ------title-----*/

h1 {
    overflow: hidden;
    text-align: center;
}

h1:before,
h1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h1:before {
    right: 0.5em;
    margin-left: -50%;
}

h1:after {
    left: 0.5em;
    margin-right: -50%;
}


/*end of line between title*/


/* Code cua tinh */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: "Lato",sans-serif;
}

.clear{
    clear:both;
}
.text-white{
    color: white !important;
}
.main{
    height: 150;
}
/* phan header  */

.header-logo {
    padding: 0 50px;
    position: relative;
}

.header-amongus-logo{
    height:70px;
    cursor: pointer;
}

.header-cart-logo{
    height: 38px;
    cursor: pointer;
    padding: 0 20px;
}

.cart-text{
    font-size: 38px;
    position: absolute;
    top: 7px;
    left: 260px;
    cursor: pointer;
}

/* nut them vao gio hang nut buy  */
.picture_title .buy{
    margin-top: 25px;color: #FFF;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 25px;
}

.picture_title .buy:hover{
    color: #000;
    background-color: #ccc;
}
/* phan san pham */

.product-infor{
    height:500px;
    width:100%;
    display: flex;
    
}   

.product-intro li{
    padding-top: 20px; 
    font-weight: 400;
    font-size: 18px;
}

.product-img-right img{ 
    height:250px;   

}

.product-infor{
    width: 100%;
}

.product-name{
    display: flex;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}

.product-sub{
    margin-left: 10px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    float:left;

}

.product-name-bottom{
    color: red;
}
.picture_bottom{
    width:11%;  
}

.picture_title .product-intro {
    list-style: none;
    padding: 15px;
    letter-spacing: 1px;
}


.bottom {
    padding-left: 50px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

.bottom td{
    padding-top: 10px;
    font-size: 16px;
}