*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: "Lato",sans-serif;
}

.clear{
    clear:both;
}
.text-white{
    color: white !important;
}
.main{

}

.nav{
    display: inline-block;
}

.header{
    height:46px;
    background-color: black;
}

.nav li{
    line-height: 46px;
    position: relative;
}

.nav  li:hover .subnav{
    display: block;
}
.nav>li>a{
    color: #fff ;
    text-transform: uppercase;
}

.nav > li{
    display: inline-block;
}
.nav li a{
    text-decoration: none;
    padding:0 24px;
    display: block;
}

.nav > li:hover > a , .nav .subnav li:hover a{
    color:black;
    background-color: #ccc;
}

.nav .nav-arrow-down{
    font-size: 14px;
}   

.nav .subnav{
    min-width: 160px; 
    top: 100%;
    left: 0;
    display: none;
    color: #000;
    position: absolute;
    background-color: white;
    list-style-type: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.nav .subnav a{
    color: #000;
    padding: 0 20px;
    line-height: 38px;
}

.nav .nav-arrow-down{
    font-size: 14px;
}

.header .search-icon{
    color: #fff;
    font-size: 20px;
    padding: 0 21px;
}

.header .search-btn{
    float:right;
    line-height: 46px;
}

.header .search-btn:hover{
    background-color: #f44336; 
    cursor: pointer;
}


.header{
    position:fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 1;
}

.slider{
    position: relative;
    background-color:#fff; 
    margin-top: 46px; 
    padding-top :50%;
    background: url(/assets/img/slider/slider1.jpeg) top center / cover no-repeat;
}

.slider .text-content{
    position: absolute;
    bottom: 46px;
    color: white;
    /* left: 50%;       // cach 1 can giua 
    /* transform: translateX(-50%); */
    text-align: center;    /* cach 2 can giua  */ 
    width: 100%;
}

.slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

.slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}

.content{
    
}

.content-section{
    width:800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

.section-heading{
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0;
    letter-spacing: 4px;
    text-align: center;
}

.section-sub-heading{
    font-size: 15px;
    margin: 15px 0;
    text-align: center;
    font-style: italic;
    opacity: 0.6; 
}

.content-section .about-text{
    margin:15px 0;
    text-align: justify;
    line-height: 1.6;
}

.content .member-list{
    padding: 32px 0;
    overflow: hidden;
}
.content .member-item{
    float: left;
    width: 33.33333%;
    text-align: center; 
}

.content .member-name{
    font-size: 15px;
    margin: 15px 0;
}

.content .member-img{
    margin-bottom: 16px;
    width: 154px;
    border-radius: 4px; 
}
/* Tour section */

.tour-section{
    background-color: black;
}

 .tour-section .section-heading{
    margin: 10px 0;
}

.tour-section .section-heading{
    margin:15px 0;
}
.tour-section .ticket-list{
    background-color: #fff;
    margin-top: 25px;
}

.ticket-list li{
    list-style: none;
    color: #757575;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    padding: 8px 16px;
    
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 0 8px;
}

.ticket-list .quality{
    float: right;
    margin-right: 16px; 
    padding: 0 8px;
    width:24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%; 
    text-align: center;
    line-height: 24px;
}

/* Place */

.place-list{
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px; 
    margin: 32px -8px 0;
    padding-bottom: 48px;;    
}

.place-item{
    float: left;
    width:33.3333%;
    padding: 0 8px;
}

.place-img{
    width:100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;

}

.place-body{
    background-color: white;
}
.place-body {
    padding: 16px;
    font-size: 15px;

}
.place-heading{
    font-size: 15px;
    font-weight: bolder;
}

.place-time{
    margin-top: 15px;
    opacity: 0.6;
}

.place-description{
    margin-top: 15px;
}

.place-buy-btn{
    color: #FFF;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 25px;
}

.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}

.footer{

}

/* Modal sau khi bam vao ticket  */
.modal{
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container{
    background-color: #fff;
    width:900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
}

.modal-header{
    background-color: #009688;
    display: flex;
    height: 130px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}

.modal-close{
    position: absolute;
    right:0;
    top:0;
    padding:8px 16px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    opacity: 0.9;
}

.modal-close:hover{
    background-color:#ccc;
    opacity: 1;
}
.modal-header i{
    margin-right: 16px;
}

.modal-label{
    display: block;
    margin: 15px 0;
    font-size: 15px;

}

.modal-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 15px;
}

button.buy-ticket {
    width: 100%;
    margin: 16px 0;
    padding: 19px;
    background-color: #009688;
    border: none;
    color:#fff;
    font-weight: 500;
    cursor: pointer;
}

button.buy-ticket:hover{
    background-color: #ccc;
    opacity: 0.9;
}

.modal-body {
    padding: 16px;
}

.modal-footer{
    padding:16px;
    text-align: right;
    font-size: 15px;
    margin:15px 0;
}
.modal-footer a{
    color: #2196F3;
}